

body {
  margin: 0;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f1d6 !important;  
  color: #333;
}

/* home page */
.home_container {
  margin: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_container .card {
  display: block;
  height: 50vh;
  width: 100vh;
  background: rgb(239, 240, 219);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  margin: auto;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow:  10px, yellowgreen;
}


/* recipes page*/

.posts-container {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.posts-container .post {
  display: flex;
  gap: 80px;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: 80%;
  justify-content: center;
  background-color: hsl(46, 92%, 62%);
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

/* this line makes the posts in the opposite order to show */
.posts-container .post:nth-child(even) {
  flex-direction: row-reverse;
}

.post img {
  width: 40%;
  flex: 0, 2, 40%;
  position: relative;

  object-fit: cover;
  height:auto;

}

.post .content {
  display: flex;
  flex: 1, 2, 60%;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  text-align: left;
}

.post h3 {
  margin-top: 0;
  color: #333;
}

.post p {
  color: #666;
}

.link, .btn {
  text-decoration: none;
  color: blue;
}


/*this is for single recipe*/

.singlepost {
  display: flex;
  flex-direction: row; /* Align main content and menu side by side */
  align-items: flex-start; /* Align items at the start of the flex container */
  gap: 40px; /* Space between main content and menu */
  margin-top: 100px;
  width: 90%;
  margin-left: 100px;
  margin-right: 120px;
}

.singlepost .menu {
  flex: 1; /* Takes up 1 part of the space, adjust as needed */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.posts-content {
  flex: 3;
}

.singlepost .info {
  display: flex;
  width: 100%; /* Full width of the parent */
  align-items:center;
  padding: 0 50px; /* Padding on the sides */
}

.singlepost .edit img {
  width: 20px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
  margin: 10px;
  object-fit: cover;
}

.singlepost img{
  height: 60px;
  cursor: pointer;
  object-fit: cover;
}

.singlepost .postDate p {
    font-size: 15px;
    color:#333;
}

.singlepost h1 {
  font-size: 42px;
  color: #333;
  margin-bottom: 10px;
}

.singlepost p {
  font-size: 16px;
  text-align: justify;
  color: #666;
  line-height: 30px;
}


.singlepost .menu h1 {
  font-size: 20px;
  color:#333;
}

.singlepost .menu .post{
  display:flex;
  flex-direction: column;
  gap: 25px;
  margin: 10px;
}

.singlepost .menu .post img{
  width: 100%;
  height: 200px;
  object-fit:cover;
}

/*write page */

.add{
  margin: 10rem;
  display: flex;
  gap: 20px;
}

.add .content{
  margin-top: 150px;
  display: flex;
  flex:5;
  flex-direction: column;
  gap: 50 rem;
}
.add .content input{
  padding: 20px;
  border: 1px solid rgb(208, 208, 208);
  margin-bottom: 5px;

}
.add .editorContainer{
  height: 300px;
  overflow: scroll;
  border: 1px solid rgb(208, 208, 208);
}

.editor{
  height: 100%;
  border: none;
}

.add .write_menu{
  flex:2;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.add .write_menu .item{
  border: 1px solid lightgray;
          padding: 10px;
          flex:1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;
}

.add .write_menu .item h1{
  font-size: 20px;
}

.add .write_menu .item h1{
  font-size: 20px;
}

.add .write_menu .item .file{
  text-decoration: underline;
  cursor: pointer;
}

.add .write_menu .item .btn{
   display: flex;
   justify-content: space-between;
}

.add .write_menu .item .btn :first-child {
  cursor: pointer;
  color: teal;
  background-color: white;
  border: 1px solid teal;
  padding: 3px 5px;
}

.add .write_menu .item .btn :last-child {
  cursor: pointer;
  color: white;
  background-color: #34f712;
  border: 1px solid teal;
  padding: 3px 5px;
}


.add .write_menu .item .cat{
  display: flex;
  align-items: center;
  gap: 1px;
  color: teal;
}
.btn {
  width:max-content;
  padding: 10px 20px;
  margin: 10px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-header {
  padding: 20px;
}

nav.navbar {
  padding: 0, 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: hsl(46, 92%, 62%);
  transition: 0.32 ease-in-out;
  display:flex;
  align-items:center;
  background-color: #f7d70a !important;
}


nav.navbar a.navbar-brand img {
  width: 50px;
  margin-right:20px;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  padding: 0 30px; /* Add space between links */
  transition: color 0.2s, background-color 0.2s;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

h1 {
  margin-top: 3000px;
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 48px;
  color: #333;
  margin: 20px 0;
}

.name {
  color: #a05024;
}

p {
  font-size: 18px;
  margin: 20px 0;
}

.hire-me {
  font-size: 16px;
  text-decoration: none;
}

footer {
  position: fixed;  /* always stay where I put you on the screen */
  bottom: 1px;  /* I'm putting you at the bottom with no space in between */
  width: 100%;  /* fill the width of your containing element (body) */

  background-color: rgb(228, 236, 228);
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 12px;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f8f3;
  width: 100%;
  height: 100vh;
}

.auth h1 {
  font-size: 35px;
   margin-bottom: 15px;
}

.auth form {
  display:flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
  gap: 10px;
}

.auth input {
  padding: 10px;
  margin-bottom: 10px;
    /* Light grey border around inputs */
  border-radius: 5px, solid, hsl(117, 94%, 12%);  
}

.auth button {
  padding: 10px;
  background-color: rgb(17, 139, 6);       /* Teal background for the button */
  color: white;                 /* White text color */
  border: none;                 /* No border */
  border-radius: 5px;           /* Rounded corners for the button */
  cursor: pointer;              /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.auth button:hover {
  background-color: #005f5f;    /* Darker teal on hover */
}

.auth span {
  padding: auto;
  font-size: 18px;
  color: #134609;
  text-align: center;
}
.auth p {
  font-size: 15px;
  text-align: center;
}